extends layout
block content
    div.col-md-offset-3.col-md-6
        -if(success){
            div.alert.alert-success(role="alert" id="successAlert") #{success}
        -}
        -if(error){
            div.alert.alert-danger(role="alert" id="errorAlert") #{error}
        -}

        form(method='post', action='/search')
            div.form-group
            label(for="from") From
            select.form-control(name='from')
                -for place in places
                    option(value='#{place.id}') #{place.name}
            br
            br
            label(for="to") To
            select.form-control(name='to')
                -for place in places
                    option(value='#{place.id}') #{place.name}
            br
            br
            button.btn.btn-success(type="submit") Submit
            br
            br
            br
            br
        p.bold Got no account. Want to Register

        a.btn.btn-default(href='/register', role='button') Register
