extends layout
block content
    div.container
        -for passenger in passengers
            div.box-shadow.row
                div.col-md-1
                    img.row(src="passenger.user.photo_url")
                div.col-md-11
                   div.row
                        h4.col-md-6  #{passenger.user.first_name} #{passenger.user.last_name}
                        h4.col-md-3 Departing #{moment(String(passenger.journey.departure_time),"X").fromNow()}
                    div.row
                         h4.col-md-3 Source : #{passenger.journey.source}
                         h4.col-md-3 Destination : #{passenger.journey.destination}
                    div.row
                        h5 Gathering Place : #{passenger.journey.gathering_place}
                    div.row
                        h4 Message : #{passenger.message}
                    div.row
                        button.btn.btn-success.pull-right Confirm
                        button.btn.btn-danger.pull-right Ignore